#custom-stats {
    background-color: #4A00FF;
    color: white;
}

#invoices-gen {
    margin-left: 35px;
}

#task-assigned {
    height: 455px;
}

#sam{
    background-color: #4A00FF;
    margin-bottom: 10px;
    color:white;
}